    <header>
        <div class="header-top">
            <div class="container">
                <div class="header-top-left">
                    <ul class="header-top-list">
                        <li><a href=""><i class="fa-regular fa-phone"></i> 0123 456 789 (miễn phí)</a></li>
                        <li><a href=""><i class="fa-light fa-location-dot"></i> Xem vị trí cửa hàng</a></li>
                    </ul>
                </div>
                <div class="header-top-right">
                    <ul class="header-top-list" style="align-items: center;">
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Cửa hàng</a></li>
                        <li><a href="javascript:;" onclick="openPolicyModal(event)">Chính sách</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container">
                <div class="header-middle-left">
                    <div class="header-logo">
                        <a href="">
                            <img src="./assets/img/logos/timifood.png" alt="" class="header-logo-img">
                        </a>
                    </div>
                </div>
                <div class="header-middle-center">
                    <form action="" class="form-search">
                        <span class="search-btn"><i class="fa-light fa-magnifying-glass"></i></span>
                        <input type="text" class="form-search-input" placeholder="Tìm kiếm món ăn..."
                            oninput="searchProducts()">
                        <button class="filter-btn"><i class="fa-light fa-filter-list"></i><span>Lọc</span></button>
                    </form>
                </div>
                <div class="header-middle-right">
                    <ul class="header-middle-right-list">
                        <!-- Ngôn ngữ Dropdown -->
                        <li class="header-middle-right-item dropdown open">
                            <i class="fa-light fa-globe"></i>
                            <div class="auth-container">
                                <span class="text-dndk">Ngôn ngữ</span>
                                <span class="text-tk current-lang-text">Tiếng Việt <i class="fa-sharp fa-solid fa-caret-down"></i></span>
                            </div>
                            <ul class="header-middle-right-menu">
                                <li><a href="javascript:;" onclick="changeLang('vi', 'Tiếng Việt')"><i class="fa-light fa-check"></i> Tiếng Việt</a></li>
                                <li><a href="javascript:;" onclick="changeLang('en', 'English')"><i class="fa-light fa-earth-americas"></i> English</a></li>
                                <li><a href="javascript:;" onclick="changeLang('zh-CN', 'Trung Quốc')"><i class="fa-light fa-earth-asia"></i> Trung (Giản thể)</a></li>
                                <li><a href="javascript:;" onclick="changeLang('ko', '한국어')"><i class="fa-light fa-language"></i> 한국어 (Hàn)</a></li>
                                <li><a href="javascript:;" onclick="changeLang('ja', '日本語')"><i class="fa-light fa-language"></i> 日本語 (Nhật)</a></li>
                                <li><a href="javascript:;" onclick="changeLang('fr', 'Français')"><i class="fa-light fa-earth-europe"></i> Français (Pháp)</a></li>
                            </ul>
                            <div id="google_translate_element" style="display: none;"></div>
                        </li>
                        <li class="header-middle-right-item dnone open" onclick="openSearchMb()">
                            <div class="cart-icon-menu">
                                <i class="fa-light fa-magnifying-glass"></i>
                            </div>
                        </li>
                        <li class="header-middle-right-item close" onclick="closeSearchMb()">
                            <div class="cart-icon-menu">
                                <i class="fa-light fa-circle-xmark"></i>
                            </div>
                        </li>
                        <li class="header-middle-right-item dropdown open" id="account-dropdown">
                            <i class="fa-light fa-user"></i>
                            <div class="auth-container">
                                <span class="text-dndk">Đăng nhập / Đăng ký</span>
                                <span class="text-tk">Tài khoản <i class="fa-sharp fa-solid fa-caret-down"></i></span>
                            </div>
                            <ul class="header-middle-right-menu">
                                <li><a id="login" href="javascript:;"><i class="fa-light fa-right-to-bracket"></i> Đăng
                                        nhập</a></li>
                                <li><a id="signup" href="javascript:;"><i class="fa-light fa-user-plus"></i> Đăng ký</a>
                                </li>
                            </ul>
                        </li>
                        <li class="header-middle-right-item notification" id="notification-btn">
                            <div class="cart-icon-menu">
                                <i class="fa-light fa-bell"></i>
                                <span class="notification-count">0</span>
                            </div>
                            <span>Thông báo</span>
                            <div class="notification-dropdown" id="notification-dropdown">
                                <div class="notification-header">
                                    <h4>Thông báo</h4>
                                    <span onclick="clearAllNotifications(event)">Xóa tất cả</span>
                                </div>
                                <ul class="notification-list" id="notification-list">
                                    <li class="no-notification">Chưa có thông báo nào</li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-middle-right-item open" onclick="openCart(event)">
                            <div class="cart-icon-menu">
                                <i class="fa-light fa-basket-shopping"></i>
                                <span class="count-product-cart">0</span>
                            </div>
                            <span>Giỏ hàng</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <nav class="header-bottom">
        <div class="container">
            <ul class="menu-list" id="main-menu-categories">
                <li class="menu-list-item"><a href="index.html" class="menu-link">Trang chủ</a></li>
                <!-- Dynamic categories will be loaded here -->
            </ul>
        </div>
    </nav>